@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
	--blue: #118DA8;
	--grey: rgba(255, 255, 255, 0.7);
}

html {
	font-size: 22px;

	@media (max-width: 1023px) {
		font-size: 18px;
	}

	@media (max-width: 767px) {
		font-size: 14px;
	}

	@media (max-width: 479px) {
		font-size: 11px;
	}
}

body {
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	color: #fff;
	height: 100%;
	background: #191919;
}

.wrapper {
	background: #191919;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

main {
	flex: 1 1 auto;
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
	background: #191919;
}



.btn {
	background: #118DA8;
	border-radius: 6px;
	overflow: hidden;
	padding: 0.55rem 0.9rem;
	color: #fff;
}

.header {

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}

	&__logo {
		padding: 40px 0;
	}

	&__logo-img {
		height: 100%;
	}

	&__menu {}

	&__burger {
		display: none;
	}
}

.menu {

	&__list {
		display: flex;
	}

	&__list-item {
		margin-right: 1.8rem;

		&:last-child {
			margin-right: 20px;
		}

		a {
			color: #fff;
			font-size: 0.8rem;
			line-height: 1.2rem;
		}
	}

	&__list-item--blue {
		a {
			color: var(--blue);
		}
	}
}

@media only screen and (max-width: 519px) {
	.header__burger {
		cursor: pointer;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;

		&::before,
		&::after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			z-index: 999;
			left: 0;

		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			z-index: 999;
			top: 9px;
		}

		&::before,
		&::after,
		span {
			transition: all 0.333s ease-out;
		}

		&.active {
			span {
				opacity: 0;
			}

			&::before {
				transform: translateY(10px) rotate(45deg);
			}

			&::after {
				transform: translateY(-8px) rotate(-45deg);
			}

			&::before,
			&::after,
			span {
				transition: all 0.333s ease-out;
			}
		}
	}

	.menu {
		display: none;


		&.active {
			display: block;
			position: fixed;
			top: 113px;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgb(142, 40, 40);

			.menu__list {
				flex-direction: column;
				align-items: center;
				padding: 30px;
			}

			.menu__list-item {
				margin-bottom: 60px;

				a {
					font-size: 1.36rem;
				}
			}

			.menu__list-item--blue {
				a {
					color: #fff;
				}
			}
		}

	}
}

.podcast {

	&__row {
		display: flex;
		padding: 1.82rem 2.27rem 4rem 2.27rem;

		@media (max-width: 767px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__column {
		flex: 0 1 50%;

		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
	}

	&__column--img {
		position: relative;

		@media (max-width: 767px) {
			order: 2;
		}

		&::before {
			content: '';
			background: url(../images/block1/img-lines.svg) 0 0 no-repeat;
			position: absolute;
			width: 68px;
			height: 74px;
			top: -26px;
			left: -26px;
		}
	}

	.podcast__column-row {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		padding-left: 60px;
	}

	&__img {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 12px;
	}

	&__title {
		font-size: 3.2rem;
		line-height: 4rem;
		letter-spacing: 0.15rem;
		margin-bottom: 4.1rem;

	}

	&__title--underline {
		font-size: 3.4rem;
		position: relative;

		&::after {
			content: '';
			display: block;
			position: absolute;
			background: url(../images/block1/text-under.svg) 0 0 no-repeat;
			width: 163px;
			height: 11px;
			left: 50%;
			margin-left: -81.5px;
			margin-bottom: 5px;
			bottom: 0;

			@media (max-width: 767px) {
				width: 120px;
				left: 70%;
				margin-bottom: 0;
			}

			@media (max-width: 479px) {
				display: none;
			}
		}
	}

	&__title--big {
		font-weight: 700;
		font-size: 3.6rem;
	}

	&__subtitle {
		font-size: 0.7rem;
		margin-bottom: 16px;
	}

	&__list {
		display: flex;
		margin-bottom: 6.82rem;
	}

	&__list-item {
		margin-right: 0.77rem;

		&:last-child {
			margin-right: 0px;
		}
	}
}

.episodes {

	&__row {
		padding: 0 2.27rem 7.27rem 2.27rem;
	}

	&__text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 65px;
	}

	&__title {
		font-size: 2.9rem;
		letter-spacing: 0.13rem;
	}

	&__button {}

	&__button-item {
		font-size: 0.77rem;
	}

	&__card {
		margin-bottom: 2.72rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}



.card-gear {
	background: #000;
	padding: 1.82;
	display: flex;
	border-radius: 32px;
	overflow: hidden;

	@media (max-width: 767px) {
		flex-wrap: wrap;
		text-align: center;
	}

	&__column {}

	&__column--img {
		flex: 0 0 30%;

		@media (max-width: 767px) {
			flex: 1 1 auto;
			text-align: center;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 25px;
		}

		@media (max-width: 479px) {
			display: none;
		}
	}

	&__column--text {
		flex: 1 1 auto;
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__img {
		height: 100%;
		max-width: 100%;
		object-fit: cover;

		@media (max-width: 767px) {
			border-radius: 10px;
			overflow: hidden;
		}
	}

	&__subtitle {
		font-size: 0.82rem;
		margin-bottom: 2.18rem;

		@media (max-width: 767px) {
			align-self: center;
		}
	}

	&__link {
		color: #118DA8;
		font-size: 0.77rem;
		margin-bottom: 18px;

		@media (max-width: 767px) {
			align-self: center;
		}
	}

	&__link--numb {
		font-size: 0.82rem;
	}

	&__title {
		font-size: 2.9rem;
		line-height: 3.2rem;
		letter-spacing: 0.12rem;
		margin-bottom: 28px;
	}

	&__text {
		font-size: 1rem;
		line-height: 1.5rem;
		color: var(--grey);
		flex: 1 1 auto;
		margin-bottom: 10px;
	}

	&__button {
		@media (max-width: 767px) {
			align-self: center;
		}
	}

	&__button-item {
		font-size: 1rem;
	}
}

.host {

	&__row {
		display: flex;
		height: 100%;
		padding: 4.55rem 2.27rem;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}

	&__column {
		flex: 0 1 50%;

		@media (max-width: 767px) {
			flex: 1 1 auto;
			text-align: center;
		}
	}

	&__column--text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-right: 4.1rem;

		@media (max-width: 767px) {
			padding-right: 0;
		}
	}

	&__btn {
		border-radius: 400px;
		background: var(--blue);
		height: 112px;
		width: 112px;
		display: inline-block;
		text-align: center;
		margin-bottom: 20px;

		@media (max-width: 767px) {
			display: none;
		}

		img {
			position: relative;
			top: 20%;
		}
	}

	&__link {
		font-size: 0.82rem;
		color: var(--blue);
		margin-bottom: 10px;
	}

	&__title {
		font-size: 2.95rem;
		letter-spacing: 0.13rem;
		margin-bottom: 1.27rem;
	}

	&__text {
		@media (max-width: 767px) {
			margin-bottom: 1.43rem;
		}

		p {
			font-size: 1rem;
			line-height: 1.5rem;
			color: var(--grey);
			margin-bottom: 1.36rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__img {
		height: 100%;
		max-width: 100%;
	}
}

.email {
	padding: 100px 4rem;
	position: relative;

	@media (max-width: 767px) {
		padding: 4.54rem 4rem;
	}

	&__row {
		padding: 2.27rem;
		display: flex;
		background: #000;
		border-radius: 32px;

		@media (max-width: 767px) {
			flex-wrap: wrap;
		}

		&::after {
			content: '';
			display: block;
			position: absolute;
			background: url(../images/block4/form-lines.svg) 0 0 no-repeat;
			height: 91px;
			width: 147px;
			bottom: 70px;
			left: 60px;

			@media (max-width: 767px) {
				display: none;
			}
		}
	}

	&__column {
		flex: 0 1 50%;

		@media (max-width: 767px) {
			flex: 1 1 auto;
		}
	}

	&__link {
		font-size: 0.82rem;
		color: var(--blue);
	}

	&__title {
		font-size: 2.9rem;
		line-height: 3.6rem;
		letter-spacing: 0.13rem;
		padding-right: 4rem;
	}

	&__form {}
}

.form {
	display: flex;
	flex-direction: column;

	&__input {
		background: #191919;
		border: 1px solid #191919;
		border-radius: 6px;
		font-size: 1.1rem;
		color: var(--grey);
		padding: 1.14rem 0.68rem;
		margin-bottom: 0.91rem;
	}

	&__name {}

	&__email {}

	&__btn {
		align-self: flex-start;
	}

	&__btn-item {
		font-size: 0.68rem;
	}
}

.comments {

	&__row {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(3, 1fr);
		gap: 0.68rem;
		padding: 4.55rem 0;

		@media (max-width: 767px) {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}

	}

	&__card {}
}

.comment-card {
	background: #000;
	border-radius: 32px;
	display: flex;
	flex-direction: column;
	padding: 2.27rem;

	&__list {
		display: flex;
		margin-bottom: 0.91rem;
	}

	&__list-item {
		margin-right: 0.23rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title {
		margin-bottom: 0.91rem;
		flex: 1 1 auto;
		font-size: 1.64rem;
		line-height: 1.95rem;
	}

	&__author {
		font-size: 1.1rem;
		color: var(--grey);
	}
}

.footer {

	&__row {
		max-width: 1280;
		margin: 0 auto;
		padding: 4.55rem 0.45rem;
		display: flex;
		justify-content: space-between;
	}

	&__column {}

	&__column--logo {}

	&__social-list {
		display: flex;

	}

	&__logo {
		margin-bottom: 0.91rem;
	}

	&__social-list-item {
		margin-right: 0.55rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__column--lists {
		display: flex;
		padding-right: 7.7rem;

		@media (max-width: 1023px) {
			padding-right: 6rem;
		}

		@media (max-width: 767px) {
			padding-right: 0;
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		margin-right: 4.55rem;

		@media (max-width: 767px) {
			margin-right: 1.5rem;
		}
	}

	&__menu-item {
		margin-bottom: 0.45rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__menu-item-link {
		font-size: 0.77rem;
		color: #fff;
	}

	&__guide-list {
		margin-right: 0.45rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__guide-list-item {
		margin-bottom: 0.45rem;
	}

	&__guide-list-item-link {
		font-size: 0.77rem;
		color: #fff;
	}

	&__music {
		display: flex;

		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__music-item {
		margin-right: 0.68rem;

		@media (max-width: 767px) {
			margin-right: 0;
			margin-bottom: 0.5rem;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__music-item-link {}

	&__music-item-link-img {}
}